.env
.env.*
/vendor/
/node_modules/
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
.phpunit.*
*.log
*.backup
*.bak
.hermes/
public/storage/
public/hot/
Dockerfile.coolify
